/* Fontes */
@font-face {
    font-family: "Cocogoose Light";
    src: url("assets/fonts/Cocogoose Light.ttf");
 }
 
 @font-face {
    font-family: "Cocogoose Dark";
    src: url("assets/fonts/Cocogoose Darkmode.ttf");
 }

 @font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat.ttf");
 }

:root {
    /* Cores */
    --branco: #FDFFEB;
    --rosa: #BD3CE1;
    --roxo: #6449B2;
    --laranja: #FD530A;
    --preto: #1E1E1E;

    /* Tipografia */
    --montserrat: "Montserrat", sans-serif;
    --cocogoose-light: "Cocogoose Light", sans-serif;
    --cocogoose-dark: "Cocogoose Dark", sans-serif;       
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: fit-content;
    font-family: var(--cocogoose-light);
    background-color: var(--branco);
    overflow-x: hidden;
}

section {
    height: 100dvh;
    position: relative;
}

a, p{
    text-decoration: none;
    color: var(--branco);
}

h1 {
    font-family: var(--cocogoose-dark);
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px;
    background-color: var(--roxo);
    letter-spacing: 1px;
    z-index: 10;
}

nav a {
    transition: 0.3s;
}

#sobre-nav:hover, #contato-nav:hover, .social a:hover {
    transform: scale(1.1);
}

.scroll {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 45px;
}

.scroll a {
    display: flex;
    width: 33%;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}

.scroll #projetos-nav {
    padding: 0 40px;
    border-left: 1px solid var(--branco);
    border-right: 1px solid var(--branco);
}

.projetos-click {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vw;
    width: 13vw;
    position: fixed;
    padding: 0.2vw 0;
    gap: 0.2vw;
    top: 4.5vw;
    right: 43.3vw;
    background: var(--branco);
    font-family: var(--cocogoose-light);
    font-weight: 700;
    font-size: 0.9vw;
    border-radius: 15px;
    border: 2px solid var(--roxo);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.105);
}

.projetos-click.hidden{
    display: none;
}

.projetos-click a {
    color: var(--roxo);
    width: 98%;
    height: 33%;
    padding: 0.3vw;
    border-radius: 10px;
    text-align: center;
}

.projetos-click a:hover {
    color: var(--branco);
    background: var(--roxo);

}

.social {
    display: flex;
    align-items: center;
    gap: 25px;
}

.social img {
    width: 30px;
    height: 30px;
}

#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio #letras-inicio-1 {
    width: 35%;
    animation: scaleIn 1s;
}

#inicio p {
    font-family: var(--montserrat);
    font-weight: bold;
    color: var(--laranja);
    font-size: 30px;
}

.elemento {
    position: absolute;
}

#curva-rosa-1 {
    top: 0;
    width: 100vw;
    animation: slideDown 1s;
}

#curva-laranja-1 {
    left: 0;
    width: 20%;
    animation: slideLeft 1s;
}

#curva-roxa-1 {
    right: 0;
    bottom: -30%;
    width: 12%;
    animation: slideRight 1s;
}

#sobre-mim_ {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.conteudo-2 {
    width: 90%;
    height: fit-content;
    display: flex;
}

.esquerda-2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.esquerda-2 img {
    width: 50%;
}

.direita-2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.direita-2 h1 { 
    color: var(--laranja);
    font-size: 5vw;
    font-weight: 600;
}

.direita-2 p { 
    color: var(--preto);
    font-family: var(--montserrat);
    font-size: 1vw;
    font-weight: 500;
}

#caneta-design-2 {
    top: -1.5vw;
    right: 30vw;
    width: 10vw
}

#tinta-laranja-2 {
    right: 0;
    bottom: -25%;
    width: 20%;
}

#onda-roxa-3 {
    width: 100vw;
    height: 140%;
    top: -45%;
    z-index: -1;
}

#habilidades {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-3 {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vh;
}

#titulo-3 {
    width: 86%;
    text-align: start;
    font-size: 3vw;
    color: var(--branco);
    font-weight: 400;
}

.cima-3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5%;
}

.figma-3, .illustrator-3, .psp-3, .indesign-3 {
    display: flex;
    gap: 15px;
    color: var(--branco);
    width: 16vw;
}

.figma-3 img, .illustrator-3 img, .psp-3 img, .indesign-3 img {
    width: 8vw;
    height: auto;
}

.desc-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    text-align: start;
}

.desc-3 h1 {
    font-family: var(--cocogoose-dark);
    font-size: 1vw;
    width: 100%;
    font-weight: 400;
}

.desc-3 p {
    font-family: var(--cocogoose-light);
    font-size: 0.8vw;
    width: 100%;
}

.baixo-3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

#card-3 {
    width: 25%;
}

#projetos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    gap: 5vw;
}

#projetos p {
    text-align: center;
}

.id-visual {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    gap: 5vh;
}

.id-visual p {
    color: var(--preto);
    font-family: var(--montserrat);
    font-size: 1.5vw;
}

#titulo-id-visual {
    text-align: start !important;
}


.aviaonamao-4::before{
    content: "";
    position: absolute;
    width: 100vw;
    height: 110%;
    z-index: -1;
    background-color: var(--roxo);
}

.toda-4, .psidaisy-4, .aviaonamao-4, .circle-4, .icone-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.psidaisy-4 {
    margin-bottom: 10vw;
}

.aviaonamao-4 {
    color: var(--branco);
    position: relative;
}

.apresentacao-toda-4, .apresentacao-psidaisy-4, .apresentacao-aviaonamao-4, .apresentacao-circle-4, .apresentacao-icone-4 {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

.apresentacao-aviaonamao-4 p {
    color: var(--branco);
}

.apresentacao-toda-4 h1, .apresentacao-psidaisy-4 h1, .apresentacao-aviaonamao-4 h1, .apresentacao-circle-4 h1, .apresentacao-icone-4 h1 {
    font-size: 3vw;
}

.apresentacao-toda-4 h2, .apresentacao-psidaisy-4 h2, .apresentacao-circle-4 h2, .apresentacao-icone-4 h2 {
    font-size: 2vw;
}

.apresentacao-aviaonamao-4 h2 {
    font-size: 1.8vw;
}

.apresentacao-toda-4 p, .apresentacao-psidaisy-4 p, .apresentacao-aviaonamao-4 p, .apresentacao-circle-4 p, .apresentacao-icone-4 p {
    font-size: 1.3vw;
}

.id-toda-4, .id-psidaisy-4, .id-aviaonamao-4, .id-circle-4, .id-icone-4 {
    display: flex;
    justify-content: start;
}

.id-toda-4 img, .id-psidaisy-4 img, .id-aviaonamao-4 img, .id-circle-4 img, .id-icone-4 img {
    width: 67vw;
}



.id-toda-4 img {
    margin-left: -5%;
}

.design-rs {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.design-rs p {
    width: 90%;
    text-align: start !important;
    color: var(--preto);
    font-family: var(--montserrat);
    font-size: 1.5vw;
}

.design-rs img {
    width: 70vw;
}

.apresentacao-circle-4 p {
    color: var(--preto);
}

.pap-digital {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#titulo-pap-digital {
    text-align: start !important;
}

.pap-digital p {
    color: var(--preto);
    font-family: var(--montserrat);
    font-size: 1.5vw;
    width: 90%;
}

#contato_ {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#contato_ h1, #contato_ p, #contato_ h3 {
    color: var(--branco);
}

.conteudo-footer h1 {
    font-size: 3vw;
}

.conteudo-footer p {
    font-size: 1vw;
}

.conteudo-footer h3 {
    font-size: 1vw;
}

.conteudo-footer {
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8vw;
    gap: 1vw;
}

.conteudo-footer h1 {
    font-size: 3vw;
}

.conteudo-footer p {
    font-family: var(--montserrat);
}

.conteudo-footer h3 {
    font-family: var(--cocogoose-light);
    color: white !important;
}

.contatos-footer {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-top: 1vh;
    gap: 0.5vw;
}

.contatos-footer a {
    font-family: var(--montserrat);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    gap: 0.5vw;
}

.contatos-footer a img{
    width: 2vw;
}

#onda-laranja {
    width: 100%;
    height: 220%;
    bottom: 0;
    z-index: 0;
}

#curva-branca {
    right: 4%;
    width: 11%;
    height: 75%;
    bottom: 30%;
    z-index: 1;
}

#onda-rosa {
    bottom: 0;
    width: 105%;
    z-index: 2;
}

#flor-branca {
    left: 0;
    bottom: 0;
    width: 20%;
    z-index: 3; 
}

#nav-mobile {
    display: none;
}

#ola-mobile {
    display: none;
}

@media screen and (max-width: 1024px) {

    * {
        animation: none !important;
    }

    :root {
        overflow-x: hidden;
    }
    
    body {
        max-width: 100vw;
        overflow-x: hidden;
    }

    #nav-desktop {
        display: none;
    }

    #nav-mobile {
        display: flex;
        justify-content: space-between;
        padding: 15px 25px;
        max-width: 100vw;
    }

    #burger-icon {
        color: var(--branco);
        font-size: 8vw;
    }

    .mini-menu.closed {
        display: none;
    }

    .mini-menu {
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--branco);
        font-family: var(--cocogoose-light);
        font-weight: 700;
        border-radius: 15px;
        border: 2px solid var(--roxo);
        box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.105);
        right: 3%;
        gap: 3vw;
        padding: 15px;
        height: fit-content;
    }

    .mini-menu a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--roxo);
        font-size: 4vw;
        width: 100%;
        text-align: center;
    }

    .social {
        gap: 15px;
    }

    .social img {
        width: 40px;
        height: 40px;
    }

    #curva-rosa-1 {
        content: url("assets/elements/mobile/Rectangle 115.png");
        top: 5%;
    }

    #curva-laranja-1 {
        content: url("assets/elements/mobile/Rectangle 116.png");
        top: 0;
        width: 40%;
        height: 110vh;
    }

    #curva-roxa-1 {
        width: 30%;
        bottom: -48%;
    }

    #inicio {
        height: 80dvh;
    }

    #inicio p {
        display: none;
    }

    #inicio #letras-inicio-1 {
        width: 80%;
    }

    #sobre-mim_ {
        align-items: start;
        height: 80vh;
    }

    .conteudo-2 {
        flex-direction: column;
        align-items: start;
        max-width: 90%;
        gap: 15px;
        margin-left: 20%;
    }

    .esquerda-2 {
        flex-direction: column;
    }

    #ola-desktop {
        display: none;
    }

    #ola-mobile {
        display: flex;
        width: 100%;
        color: var(--laranja);
        font-size: 12vw;
    }

    .esquerda-2 img {
        width: 45vw;
        margin-left: 7vw;
    }

    #caneta-design-2 {
        content: url("assets/elements/mobile/CANETA DESIGN MOBILE.png");
        top: -12vw;
        right: 7vw;
        width: 35vw;
    }

    .direita-2 {
        width: 80%;
        height: fit-content;
    }

    .direita-2 p {
        font-size: 3vw;
        text-align: left;
    }

    #onda-roxa-3 {
        content: url("assets/elements/mobile/Rectangle 120.png");
        height: 110%;
        top: -10vh;
        width: 110vw;
    }

    #tinta-laranja-2 {
        bottom: -18vh;
        width: 30%;
    }

    #habilidades {
        height: 70vh;
    }

    .conteudo-3 {
        width: 80%;
        gap: 3vh;
        height: fit-content;
    }

    #titulo-3 {
        font-size: 6vw;
    }

    .cima-3 {
        width: 80%;
        display: grid;
        grid-template-columns: 50% 20%;
        grid-column-gap: 1.5%;
        grid-row-gap: 15%;
        justify-content: start;
    }

    .figma-3 img, .illustrator-3 img, .psp-3 img, .indesign-3 img {
        width: 10vw;
    }

    .desc-3 h1 {
        font-size: 2.5vw;
    }

    .desc-3 p {
        font-size: 1.5vw;
    }

    .baixo-3 {
        gap: 0;
        position: relative;
        height: 30vh;
    } 

    #card-3 {
        position: absolute;
        width: 35vw;
    }

    .card1 {
        top: 3vw;
        left: 0vw;
    }

    .card2 {
        top: 30vw;
        left: 19vw;
    }

    .card3 {
        top: 6vw;
        left: 45vw;
    }
    
    .id-visual {
        gap: 2vh;
    }

    .id-visual p {
        font-size: 3vw;
    }

    .toda-4, .psidaisy-4, .aviaonamao-4, .circle-4, .icone-4 {
        gap: 1.5vw;
    }

    .apresentacao-toda-4, .apresentacao-psidaisy-4, .apresentacao-aviaonamao-4, .apresentacao-circle-4, .apresentacao-icone-4 {
        width: 90%;
    }

    .apresentacao-toda-4 h1, .apresentacao-psidaisy-4 h1, .apresentacao-aviaonamao-4 h1, .apresentacao-circle-4 h1, .apresentacao-icone-4 h1 {
        font-size: 5vw;
    }

    .apresentacao-toda-4 h2, .apresentacao-psidaisy-4 h2, .apresentacao-circle-4 h2, .apresentacao-icone-4 h2 {
        font-size: 3.2vw;
    }

    .apresentacao-toda-4 p, .apresentacao-psidaisy-4 p, .apresentacao-aviaonamao-4 p, .apresentacao-circle-4 p, .apresentacao-icone-4 p {
        font-size: 3vw;
    }

    .id-toda-4 img, .id-psidaisy-4 img, .id-aviaonamao-4 img, .id-circle-4 img, .id-icone-4 img {
        width: 90vw;
    }

    .id-toda-4 img {
        margin-left: -2%;
    }

    .apresentacao-aviaonamao-4 h2 {
        font-size: 2.2vw;
    }

    .design-rs p {
        font-size: 3vw;
    }

    .design-rs img {
        width: 90vw;
    }

    .pap-digital p {
        font-size: 3vw;
    }

    .id-icone-4 img {
        content: url("assets/elements/mobile/ÍCONE.png");
    }

    #onda-laranja {
        height: 95vh;
        width: 120%;
        bottom: 0;
    }

    #onda-rosa {
        content: url("assets/elements/mobile/ABSTRATO\ LILAS.png");
        width: 100%;
        height: 25vw;
    }

    #curva-branca {
        right: -7%;
        width: 20%;
        height: auto;
        bottom: 15%;
        z-index: 1;
    }

    #flor-branca {
        bottom: 20%;
        left: -5%;
    }

    #contato_ {
        height: 40vh;
        display: flex;
        align-items: end;
        justify-content: center;
        text-align: center;
    }

    .conteudo-footer {
        z-index: 4;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10vw;
        gap: 1vw;
    }

    .conteudo-footer h1 {
        font-size: 5vw;
    }

    .conteudo-footer p {
        font-size: 3vw;
    }

    .conteudo-footer h3 {
        font-size: 3vw;
        max-width: 70%;
    }

    .contatos-footer {
        max-width: 90%;
    }

    .contatos-footer a {
        font-size: 3vw;
        gap: 0.5vw;
    }

    .contatos-footer a img {
        width: 5vw;
    }

}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
    position: absolute;
    z-index: 1000;
    background-color: var(--roxo);
}

.loader {
    width: 40px;
    height: 20px;
    --c:no-repeat radial-gradient(farthest-side,var(--branco) 93%,#0000);
    background:
      var(--c) 0    0,
      var(--c) 50%  0,
      var(--c) 100% 0;
    background-size: 8px 8px;
    position: relative;
    animation: l4-0 1s linear infinite alternate;
  }

  .loader:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    background: var(--branco);
    left: 0;
    top: 0;
    animation: 
      l4-1 1s  linear infinite alternate,
      l4-2 0.5s cubic-bezier(0,200,.8,200) infinite;
  }

  @keyframes l4-0 {
    0%      {background-position: 0  100%,50% 0   ,100% 0}
    8%,42%  {background-position: 0  0   ,50% 0   ,100% 0}
    50%     {background-position: 0  0   ,50% 100%,100% 0}
    58%,92% {background-position: 0  0   ,50% 0   ,100% 0}
    100%    {background-position: 0  0   ,50% 0   ,100% 100%}
  }

  @keyframes l4-1 {
    100% {left:calc(100% - 8px)}
  }

  @keyframes l4-2 {
    100% {top:-0.1px}
  }