/* Fontes */
@font-face {
    font-family: "Cocogoose Light";
    src: url("assets/fonts/Cocogoose Light.ttf");
 }
 
 @font-face {
    font-family: "Cocogoose Dark";
    src: url("assets/fonts/Cocogoose Darkmode.ttf");
 }

 @font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat.ttf");
 }

:root {
    /* Cores */
    --branco: #FDFFEB;
    --rosa: #BD3CE1;
    --roxo: #6449B2;
    --laranja: #FD530A;
    --preto: #1E1E1E;

    /* Tipografia */
    --montserrat: "Montserrat", sans-serif;
    --cocogoose-light: "Cocogoose Light", sans-serif;
    --cocogoose-dark: "Cocogoose Dark", sans-serif;       
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: fit-content;
    font-family: var(--cocogoose-light);
    background-color: var(--branco);
    overflow-x: hidden;
}

section {
    height: 100dvh;
    position: relative;
}

a, p{
    text-decoration: none;
    color: var(--branco);
}

h1 {
    font-family: var(--cocogoose-dark);
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px;
    background-color: var(--roxo);
    letter-spacing: 1px;
    z-index: 2;
}

.scroll {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 45px;
}

.scroll a {
    display: flex;
    width: 33%;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}

.scroll #projetos-nav {
    padding: 0 40px;
        border-left: 1px solid var(--branco);
        border-right: 1px solid var(--branco);
}

.social {
    display: flex;
    align-items: center;
    gap: 25px;
}

.social img {
    width: 30px;
    height: 30px;
}

#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio #letras-inicio-1 {
    width: 35%;
}

#inicio p {
    font-family: var(--montserrat);
    font-weight: bold;
    color: var(--laranja);
    font-size: 30px;
}

.elemento {
    position: absolute;
}

#curva-rosa-1 {
    top: 0;
    width: 100vw;
}

#curva-laranja-1 {
    left: 0;
    width: 20%;
}

#curva-roxa-1 {
    right: 0;
    bottom: -30%;
    width: 12%;
}

#sobre-mim {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.conteudo-2 {
    width: 90%;
    height: fit-content;
    display: flex;
}

.esquerda-2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.esquerda-2 img {
    width: 50%;
}

.direita-2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.direita-2 h1 { 
    color: var(--laranja);
    font-size: 5vw;
    font-weight: 600;
}

.direita-2 p { 
    color: var(--preto);
    font-family: var(--montserrat);
    font-size: 1vw;
    font-weight: 500;
}

#caneta-design-2 {
    top: 5%;
    right: 30%;
    width: 10%;
}

#tinta-laranja-2 {
    right: 0;
    bottom: -25%;
    width: 20%;
}

#onda-roxa-3 {
    width: 100vw;
    height: 140%;
    top: -45%;
    z-index: -1;
}

#habilidades {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-3 {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vh;
}

#titulo-3 {
    width: 86%;
    text-align: start;
    font-size: 3vw;
    color: var(--branco);
    font-weight: 400;
}

.cima-3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5%;
}

.figma-3, .illustrator-3, .psp-3, .indesign-3 {
    display: flex;
    gap: 15px;
    color: var(--branco);
    width: 16vw;
}

.figma-3 img, .illustrator-3 img, .psp-3 img, .indesign-3 img {
    width: 8vw;
    height: auto;
}

.desc-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    text-align: start;
}

.desc-3 h1 {
    font-family: var(--cocogoose-dark);
    font-size: 1vw;
    width: 100%;
    font-weight: 400;
}

.desc-3 p {
    font-family: var(--cocogoose-light);
    font-size: 0.8vw;
    width: 100%;
}

.baixo-3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

#card-3 {
    width: 25%;
}

#projetos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    gap: 5vw;
}

.id-visual {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    gap: 5vh;
}

.id-visual p {
    color: var(--preto);
    font-family: var(--montserrat);
    font-size: 1.5vw;
}

.aviaonamao-4::before{
    content: "";
    position: absolute;
    width: 100vw;
    height: 110%;
    z-index: -1;
    background-color: var(--roxo);
}

.toda-4, .psidaisy-4, .aviaonamao-4, .circle-4, .icone-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.psidaisy-4 {
    margin-bottom: 10vw;
}

.aviaonamao-4 {
    color: var(--branco);
    position: relative;
}

.apresentacao-toda-4, .apresentacao-psidaisy-4, .apresentacao-aviaonamao-4, .apresentacao-circle-4, .apresentacao-icone-4 {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

.apresentacao-aviaonamao-4 p {
    color: var(--branco);
}

.apresentacao-toda-4 h1, .apresentacao-psidaisy-4 h1, .apresentacao-aviaonamao-4 h1, .apresentacao-circle-4 h1, .apresentacao-icone-4 h1 {
    font-size: 3vw;
}

.apresentacao-toda-4 h2, .apresentacao-psidaisy-4 h2, .apresentacao-circle-4 h2, .apresentacao-icone-4 h2 {
    font-size: 2vw;
}

.apresentacao-aviaonamao-4 h2 {
    font-size: 1.8vw;
}

.apresentacao-toda-4 p, .apresentacao-psidaisy-4 p, .apresentacao-aviaonamao-4 p, .apresentacao-circle-4 p, .apresentacao-icone-4 p {
    font-size: 1.3vw;
}

.id-toda-4, .id-psidaisy-4, .id-aviaonamao-4, .id-circle-4, .id-icone-4 {
    display: flex;
    justify-content: start;
}

.id-toda-4 img, .id-psidaisy-4 img, .id-aviaonamao-4 img, .id-circle-4 img, .id-icone-4 img {
    width: 67vw;
}



.id-toda-4 img {
    margin-left: -5%;
}

.design-rs {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.design-rs p {
    width: 90%;
    text-align: start;
    color: var(--preto);
    font-family: var(--montserrat);
    font-size: 1.5vw;
}

.design-rs img {
    width: 70vw;
}

.apresentacao-circle-4 p {
    color: var(--preto);
}

.pap-digital {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.pap-digital p {
    color: var(--preto);
    font-family: var(--montserrat);
    font-size: 1.5vw;
    width: 90%;
}